*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.logo{
    height: 40px;
}

header{
    background-color: #9F2936;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-toggle{
    background: transparent;
    border: none;
    color: white;
}

.nav-toggle:hover {
    filter: brightness(90%);
    color: #F0E4B2;
  }

.links{
    height: 0;
    overflow: hidden;
}

.links a{
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white
}

.links a:hover{
    color: #F0E4B2;
}

.show-links{
    height: 100%;
}