* {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

body{
    margin: 0;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button{
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: 1px solid;
    background-color: #DEE2FF;
    
}

button:hover{
    background-color: #dee2ffe0;
}

button:active{
    background-color: #dee2ffb6;

}

button:focus{
    outline: none;
}

.calculadora{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: #4450c0;
    padding: 15px;
    border-radius: 32px;
    border: black solid 1px;
}

.display{
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #c2f1c6;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    border: 1px solid;
    box-shadow: 14px 10px 91px -12px rgba(142,232,153,0.52);
}

#valor-actual {
    font-size: 1.5em;
    color: black;
}

#valor-anterior{
    font-size: 2em;
    color: black;
}




.col-2{
    grid-column: span 2;
}

